body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

button {
  padding: 15px;
  font-size: 16px;
}

